<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lixinxinlove.all">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.JetpackAll">
        <activity android:name=".activity.SurfaceViewActivity"></activity>
        <activity android:name=".activity.ImageToVideoActivity" />
        <activity android:name=".activity.SmoothScrollActivity" />
        <activity android:name=".activity.CalendarActivity" />
        <activity android:name=".activity.TabLayoutActivity" />
        <activity android:name=".activity.HiltActivity" />
        <activity android:name=".activity.LeeViewActivity" />
        <activity android:name=".activity.WebViewActivity" />
        <activity android:name=".activity.AnimActivity" />

        <receiver
            android:name=".receiver.ShortcutReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.LOCALE_CHANGED" />
            </intent-filter>
        </receiver>

        <activity android:name=".activity.AppshortcutActivity">
            <intent-filter>
                <action android:name="com.lixinxinlove.all.ADD_WEBSITE" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.CoordinatorActivity" />

        <service
            android:name=".service.MapService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".activity.PermissionActivity" />
        <activity android:name=".activity.SpringAnimationActivity" /> <!-- 7.0权限 -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <receiver
            android:name=".receiver.AlarmReceiver"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".activity.AlarmManagerActivity" />
        <activity android:name=".activity.DataStoreActivity" />
        <activity android:name=".activity.RetrofitActivity" />
        <activity android:name=".activity.ViewPagerActivity" />
        <activity android:name=".room.RoomActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>
    </application>

</manifest>