<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lixinxinlove.all">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.JetpackAll">
        <activity
            android:name=".activity.LottieAnimationViewActivity"
            android:exported="true" />
        <activity
            android:name=".activity.CameraXActivity"
            android:exported="true" />
        <activity
            android:name=".activity.ImageToVideo2Activity"
            android:exported="true" />
        <activity
            android:name=".activity.Camera2Activity"
            android:exported="true" />
        <activity android:name=".activity.PermissionXActivity" />
        <activity
            android:name=".opencv.OpenCvDemo5Activity"
            android:screenOrientation="landscape" />
        <activity android:name=".opencv.OpenCvDemo4Activity" />
        <activity android:name=".opencv.OpenCvDemo3Activity" />
        <activity android:name=".opencv.OpenCvDemo2Activity" />
        <activity android:name=".opencv.OpenCvDemo1Activity" />
        <activity android:name=".opencv.OpenCvDemoActivity" />
        <activity android:name=".activity.LogoChangeActivity" />
        <activity android:name=".activity.Retrofit2Activity" />
        <activity android:name=".butter.ButterKnifeActivity" />
        <activity android:name=".location.LocationActivity" />

        <service
            android:name=".location.MyLocationService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".glide.GlideDemoActivity" />
        <activity android:name=".activity.CardFlipActivity" />
        <activity android:name=".activity.GridItemDraggableActivity" /> <!-- DeepLinkActivity -->
        <activity android:name=".activity.DeepLinkActivity">

            <!-- DeepLink h5唤醒app配置 -->
            <intent-filter>

                <!-- ACTION_VIEW：支持被检索 -->
                <action android:name="android.intent.action.VIEW" />
                <!-- CATEGORY_DEFAULT：响应隐式Intent -->
                <category android:name="android.intent.category.DEFAULT" />
                <!-- CATEGORY_BROWSABLE：可被Web浏览器唤起 -->
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- data：一个或多个，必须含有scheme标签，决定被唤起的URL格式 -->
                <data
                    android:host="app.puxinwangxiao.com"
                    android:scheme="pxwxstudent" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.FlowActivity" />
        <activity android:name=".activity.WindowManagerActivity" />
        <activity android:name=".activity.DownloadImageActivity" /> <!-- FlutterActivity -->
        <activity
            android:name=".activity.FlutterActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:theme="@style/FlutterPageTheme"
            android:windowSoftInputMode="adjustResize" /> <!-- 生物识别 -->
        <activity android:name=".activity.BiometricPromptActivity" /> <!-- deeplink -->
        <activity android:name=".activity.GotoLinkActivity" />
        <activity
            android:name=".activity.Main2Activity"
            android:launchMode="singleInstance" />
        <activity android:name=".activity.CppActivity" />
        <activity android:name=".activity.OKIOActivity" />
        <activity android:name=".activity.SharedElementsActivity" />
        <activity android:name=".activity.DiskLruCacheActivity" />
        <activity android:name=".activity.GZipActivity" />
        <activity android:name=".activity.FadeActivity" />
        <activity android:name=".activity.SlideActivity" />
        <activity android:name=".activity.ExplodeActivity" />
        <activity android:name=".activity.TransitionActivity" />
        <activity android:name=".activity.MediaRecorderActivity" />
        <activity android:name=".activity.SurfaceViewActivity" />
        <activity android:name=".activity.ImageToVideoActivity" />
        <activity android:name=".activity.SmoothScrollActivity" />
        <activity android:name=".activity.CalendarActivity" />
        <activity android:name=".activity.TabLayoutActivity" />
        <activity android:name=".activity.HiltActivity" />
        <activity android:name=".activity.LeeViewActivity" />
        <activity android:name=".activity.WebViewActivity" />
        <activity android:name=".activity.AnimActivity" />

        <receiver
            android:name=".receiver.ShortcutReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.LOCALE_CHANGED" />
            </intent-filter>
        </receiver>

        <activity android:name=".activity.AppshortcutActivity">
            <intent-filter>
                <action android:name="com.lixinxinlove.all.ADD_WEBSITE" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.CoordinatorActivity" />

        <service
            android:name=".service.MapService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".activity.PermissionActivity" />
        <activity android:name=".activity.SpringAnimationActivity" /> <!-- 7.0权限 -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <receiver
            android:name=".receiver.AlarmReceiver"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".activity.AlarmManagerActivity" />
        <activity android:name=".activity.DataStoreActivity" />
        <activity android:name=".activity.RetrofitActivity" />
        <activity android:name=".activity.ViewPagerActivity" />
        <activity android:name=".room.RoomActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>

        <activity-alias
            android:name=".mylogo"
            android:enabled="false"
            android:icon="@mipmap/icon_cat"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity-alias>
    </application>

</manifest>